<form method="POST">
    {% if validlink %}
    {% csrf_token %}
    {{ form.new_password1.label_tag }}
    {% if form.new_password1.errors %}
    <div class="invalid-feedback">{{ form.new_password1.errors }}</div>
    {% endif %}
    {{ form.new_password2.label_tag }}
    {% if form.new_password2.errors %}
    <div class="invalid-feedback">{{ form.new_password2.errors }}</div>
    {% endif %}
    <input type="submit" />
    {% else %}
    <p>The password reset link was not valid, possibly because it has already been used, please request a <a href="{% url 'password_reset' %}">new password reset.</a></p>
    {% endif %}
</form>
