<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<h4 class="ui secondary block header">
  <div class="ui orange basic label">
    Find.Contractors
  </div>
  {% if user.is_authenticated %}
    <a href="/profile/" class="ui button">My Account</a>
  {% endif %}
  {% if query %}
    <a href="/jobs/create/" class="ui standard button">Post a New Job Opening</a>
  {% endif %}
  {% if user.is_authenticated %}
    <a href="/logout/" class="ui standard button">Sign Out</a>
  {% endif %}
</h4>
{% if user.is_authenticated %}
<form method="POST">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" />
</form>
{% endif %}