<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<h4 class="ui secondary block header">
  <div class="ui orange basic label">
    Find.Contractors
  </div>
  <a href="/profile/" class="ui button">My Account</a>
  {% if query %}
    <a href="/jobs/create/" class="ui standard button">Post a New Job Opening</a>
  {% endif %}
    <a href="/logout/" class="ui standard button">Sign Out</a>
</h4>
{% for jobcontext in jobcontext %}
  <div class="ui primary message">
    <div class="header">
        <a href="{% url 'job_apply' jobcontext.slug %}">{{ jobcontext.title }}</a>
    </div>
    {{ jobcontext.work_duties }}
  </div>
{% endfor %}
{% if query %}
  {% for job in job_query %}
    {{ job.contractor_name }}
    {{ job.contractor_email }}
    {{ job.contractor_experience }}
  {% endfor %}
{% endif %}