<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<h4 class="ui secondary block header">
  <div class="ui orange basic label">
    Find.Contractors
  </div>
  <a href="/profile/" class="ui button">My Account</a>
  {% if query %}
    <a href="/jobs/create/" class="ui standard button">Post a New Job Opening</a>
  {% endif %}
    <a href="/logout/" class="ui standard button">Sign Out</a>
</h4>
<form method="POST">
    {% csrf_token %}
    <h5>Title</h5>
    {{ form.title }}<br />
    <h5>Description</h5>
    {{ form.description }}<br />
    <h5>Job Type</h5>
    {{ form.job_type }}<br />
    <h5>Work Duties</h5>
    {{ form.work_duties }}<br />
    <h5>Preferred Certifications</h5>
    {{ form.preferred_certifications }}<br />
    <h5>Minimum Certifications</h5>
    {{ form.minimum_qualifications }}<br />
    <input type="submit" />
</form>
